<section>
    <h1>
        Hobbies
    </h1>
    <swiper-container class="swiper" speed="1000" loop="true" autoplay="true" pagination="true" navigation="true">
        <swiper-slide>
            <img src="../../../assets/images/tenis.jpg"/>
        </swiper-slide>
        <swiper-slide>
            <img src="../../../assets/images/academia.jpg"/>
        </swiper-slide>
        <swiper-slide>
            <img src="../../../assets/images/culinaria.jpg"/>
        </swiper-slide>
        <swiper-slide>
            <img src="../../../assets/images/estudos.jpg"/>
        </swiper-slide>
        <swiper-slide>
            <img src="../../../assets/images/online.jpg"/>
        </swiper-slide>
        <swiper-slide>
            <img src="../../../assets/images/tabuleiro.jpg"/>
        </swiper-slide>
      </swiper-container>
      <div class="details">
        <app-hobbies-details></app-hobbies-details>
      </div>
</section>