<p>
    Meu nome é Leonardo Norio tenho 25 anos, nasci e cresci em Dourados (Mato Grosso do Sul) até ir para Cornélio Procópio (Paraná) onde fiz minha graduação,
</p>
<p>
    por conta da pandemia acabei a faculdade em modo Home Office, mas isso ajudou a me aproximar da minha família, hoje em dia voltei para Dourados e estou fazendo uma
    pós-graduação em modelo Home Office.
</p>
<p>
    Me considero uma pessoa bastante ativa pois tenho vários <a><b>hobbies</b></a> e não consigo ficar sem parado (no bom sentido), além de que desde de pequeno sou uma pessoa bastante
    curiosa, buscando sentido para todas as coisas e como elas funcionam. Até hoje gosto de criar, montar e desmontar objetos por diversão.
</p>
<p>
    Estou constantemente estudando pois acredito que sempre terá algo que eu possa melhorar e também por conta que sou concurseiro, então preciso ver algumas
    coisas além do próprio conteúdo específico da área de informática.
</p>
<p>
    Um dos meus principais pontos que considero fraco seria que sou tímido em várias ocasiões e um pouco inseguro em coisas que não estou habituado, mas ao entrar em algum assunto que tenho conhecimento consigo falar com propriedade
    sobre, além do que ao me deparar com algo que não tenha conhecimento busco me informar e obter informação para poder me adequar a situação. 
</p>
<p>
    Em contra partida uma das minhas principais características é que sou uma pessoa muito esforçada, que gosta de desafios e de fazê-los do melhor jeito possível. Então ao
    colocar um novo objetivo em mente vou me especializar e me tornar muito bom nessa atividade. 
</p>
<!--hobbies

Tenis

Academia

Bicicleta

Estudo 

Culinaria

Jogos -->


