<section>
    <div>
        <img src="../../assets/images/me.jpeg">
    </div>
    <div>
        <h1>
            Bem-vindo ao meu portifólio.
        </h1>
        <p>Meu nome é Leonardo Norio Yamasaki Cruz,</p>
        <p>é um prazer em te ter aqui,</p>
        <p>venha me conhecer um pouco mais através deste site</p>
    
        <!-- colocar em letra menor e com menos destaque -->
        <p class="aux-site">Para uma melhor experiência em geral, as palavras sublinhadas ou em negrito (fora títulos) são links que redirecionam para determinados tópicos secundários</p>
    </div>    
</section>